<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="${package_mapper}.${Table}Mapper">
    <select id="getByUsernameAndPassword" resultType="${package_vo}.${Table}" parameterType="java.lang.String">
            SELECT * FROM tb_user t where t.username = ${r"#{userName}"}  and t.password = ${r"#{passWord}"}
        </select>
</mapper>
